services:
  # --- 1. Database ---
  db:
    image: postgres:13-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"

  # --- 2. Broker ---
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

  # --- 3. Backend API ---
  backend:
    build: ./backend
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment:
      - POSTGRES_SERVER=db
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    command: /app/scripts/start.sh

  # --- 4. Frontend (React/Vite) ---
  frontend:
    build: ./frontend
    restart: always
    ports:
      - "8080:8080" # <--- UPDATED PORT MAPPING
    environment:
      - VITE_API_URL=http://localhost:8000
    depends_on:
      - backend

  # --- 5. Worker 1: Heavy Lifter (CPU Bound) ---
  worker_cpu:
    build: ./backend
    restart: always
    command: celery -A app.core.celery_app worker -Q cpu_heavy --pool=solo --loglevel=info
    depends_on:
      - backend
      - redis
      - db
    env_file:
      - .env
    environment:
      - POSTGRES_SERVER=db
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0

  # --- 6. Worker 2: Fast Lane (I/O Bound) ---
  worker_io:
    build: ./backend
    restart: always
    command: celery -A app.core.celery_app worker -Q io_heavy --pool=threads --concurrency=20 --loglevel=info
    depends_on:
      - backend
      - redis
      - db
    env_file:
      - .env
    environment:
      - POSTGRES_SERVER=db
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0

  # --- 7. Monitoring ---
  flower:
    image: mher/flower
    restart: always
    ports:
      - "5555:5555"
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
    depends_on:
      - redis

volumes:
  postgres_data: